{% extends "padre.html" %}
{% load static %}
{% block contenido %}

    <h2>Bienvenido {{user.username}}</h2>

    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6">
                <div class="card">
                    <img src="{{ url }}"/>
                    <div class="card-body">
                        <h5 class="card-title">{{user.username}}</h5>
                        <!-- <form action="{% url 'Logout' %}" method="POST">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger">Logout</button>
                        </form> -->
                        <a href="{% url 'EditarPerfil' %}" class="btn btn-warning">Editar</a>
                        <a href="{% url 'subir_imagen' %}" class="btn btn-warning">Subir Imagen</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
   

{% endblock %}