{% extends "padre.html" %}
{% load static %}
{% block contenido %}

    <style>
        .contenedor{
            display: flex;
            justify-content: center;
            align-items: center;
        }
    </style>

    <h2 class="contenedor">Ingrese sus datos</h2>
    <div class="contenedor" >    
        
        <form action="" method="POST">
            
            {% csrf_token %}
            
            {{ form.as_p }}
            
            <button>Enviar</button>
            
        </form>
    </div>

{% endblock %}